# environment variables
.env

# node modules
node_modules

# dependencies
package-lock.json

# virual environment for whisper-service tiny whisper model libraries
.venv/

# unzipped model
models

# IDE files
.idea
__pycache__

# dev environment files
dev-env/
